.video{
    background-color: #AA8561;
    border-radius: 30px;
    padding: 15px;
}
iframe{
    max-width: 100%;
}

.carousel-cont{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-bottom: 8rem;
    color:#ECEECA;
}

.carousel-slider{
    padding: 2em 1em;
    background-color: #AA8561;
    border-radius: 30px 30px 0 0;
}

.carousel{
    width: 80%;
    margin:auto;
}

.carousel-desc{
    padding: 2em;
    background-color: #A0583A;
    border-radius: 0 0 30px 30px;
}

@media (max-width: 992px) {
    .maskot {
        display: none;
    }

    .carousel {
        width: 90%
    }
}

@media (max-width: 577px) {
    .carousel-cont {
        width: 100%;
    }

    .carousel {
        width: 95%
    }
}