.text-align-center{
    text-align: center;
}
.color-title-faq, .color-title-faq:not(.collapsed){
    background-color: #A0583A;
    border: 0px;
    color: #ECEECA;
    font-size: 21px;
}
.color-inside-faq{
    background-color: #AA8561;
    color: #ECEECA;
    font-size: 16px;
}
iframe{
    max-width: 100%;
}
.faq-radialGradient-title{
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem !important ;
    -webkit-border-radius: 1rem 1rem 0rem 0rem !important ;
    -moz-border-radius: 1rem 1rem 0rem 0rem !important ;
    -ms-border-radius: 1rem 1rem 0rem 0rem !important ;
    -o-border-radius: 1rem 1rem 0rem 0rem !important ;
}
.faq-radialGradient-inside{
    position: relative;
    border-radius: 0rem 0rem 1rem 1rem !important ;
    -webkit-border-radius: 0rem 0rem 1rem 1rem !important ;
    -moz-border-radius: 0rem 0rem 1rem 1rem !important ;
    -ms-border-radius: 0rem 0rem 1rem 1rem !important ;
    -o-border-radius: 0rem 0rem 1rem 1rem !important ;
}
.faq-radialGradient {
    border-radius: 1rem !important;
    border: none;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: inherit;
}