.prize-container {
    border-radius: 50px;
    background-color: #E5C173;
}

.dot {
    height: 125px;
    width: 125px;
    background-color: #ECEECA;
    border-radius: 50%;
    display: inline-block;
} 

.crown{
    margin: 38px 12px;
}

.prize1{
    border-radius: 30px;
    background-color: #A0583A;
    text-align: center;
    margin-left: 3px;
}

.neon{
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 28px yellow,
    0 0 50px rgba(255, 120, 0, 0.5);
  -webkit-text-stroke: 1px white;
}

.video {
    background-color: #aa8561;
    border-radius: 25px;
    padding: 15px;
}
iframe {
    max-width: 100%;
}

.caption {
    font-family: "breadley_serifregular", "Times New Roman", Times, serif;
    font-size: 2em;
    letter-spacing: 6px;
    line-height: 40px;
    color: #eceeca;
}

.caption-container {
    border-radius: 100px;
    background-color: #aa8561;
    width: 30em;
    margin: 20px auto;
}
.hadiah {
    color: #a0583a;
    font-weight: bold;
    font-size: 4em;
    line-height: 70px;
    margin-bottom: 30px;
}

.custom-btn {
    text-decoration: none;
    display: block;
    border-radius: 100px;
    background-color: #aa8561;
    width: 10em;
    font-weight: bold;
    font-size: 1.5em;
}

.custom-btn.custom-btn-bg {
    background: #a0583a;
    color: #eceeca !important;
}

.custom-btn.custom-btn-bg:hover {
    background: #7F462E;
}

.custom-btn-group {
    text-align: center;
}

@media(min-width: 768px){
    .col-md-4 {
        width: 30% !important;
    }
}

@media (max-width: 426px) {
    .caption {
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .caption-container {
        max-width: 60%;
    }
}

@media (max-width: 376px) {
    .hadiah {
        font-size: 3em;
        line-height: 50px;
    }
    .caption {
        font-size: 1.2em;
    }
    .caption-container {
        max-width: 70%;
    }
}
