.myNavbar {
    background-color: #aa8561;
    font-weight: 600;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

.navbar-nav .nav-item .nav-link {
    color: #c8c9b5 !important;
    margin-left: 18px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #eceeca !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: #eceeca !important;
}

.navbar-nav .nav-item .nav-link.dropdown-toggle {
    background-color: #eceeca !important;
    color: #a0583a !important;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #aa8561 !important;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #eceeca !important;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #a0583a !important;
}

.myNavbar .navbar-brand {
    display: flex;
    align-items: center;
}

.brand-img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}

.brand-img img {
    width: 87%;
}

@media (max-width: 992px) {
    .myNavbar {
        text-align: center;
    }

    .navbar-nav .nav-item .dropdown-menu {
        text-align: center;
    }
}