@font-face {
    font-family: 'a_asian_hiroregular';
    src: url('../fonts/aasianhiro/aasianhiro-webfont.woff2') format('woff2'),
         url('../fonts/aasianhiro/aasianhiro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #eceeca;
    min-height: 1vh;
    padding-top: 70px;
    color: #a0583a;
}

#footer {
    background-color: #aa8561;
    margin-top: 150px;
    padding: 20px 0;
    color: #eceeca;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
}

.myIcon {
    font-size: 1.2em;
    color: #eceeca;
}

/* .myIcon:hover {
    color: #d0d2ad;
} */

.footer-img {
    width: 100%;
    position: absolute;
    bottom: 450px;
    z-index: -2;
}

.myTitle {
    font-family: "a_asian_hiroregular", Arial, Helvetica, sans-serif;
    font-size: 3.5em !important;
    letter-spacing: 3px;
    line-height: 60px;
    color: #a0583a;
    text-align: center;
}

.wa-num {
    color: #eceeca;
    transition: all 0.3s;
}

.wa-num:hover {
    color: #d0d2ad;
}

.width-100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.myTextbox {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #a0583a;
    color: #a0583a;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 600;
}

.myTextbox::placeholder {
    color: #a68070;
    font-weight: normal;
}

.myTextbox:focus {
    border: inherit;
}

.myBtn {
    display: block;
    background-color: #a0583a;
    color: #eceeca;
    border-radius: 15px;
    border: none;
    height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.myBtn:hover {
    background-color: #7f462e;
    color: #eceeca;
}

.myBtn.dark {
    background-color: #eceeca;
    color: #A0583A;
}

.myBtn.dark:hover {
    background-color: #d0d2ad;
    color:#A0583A;
}

.myChkbox {
    display: inline-block;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    z-index: -2;
    position: absolute;
    background-color: transparent;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 8px;
    border: 2px solid #a0583a;
    border-radius: 2px;
}

.myChkbox:checked ~ .checkmark {
    background-color: #a0583a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.myChkbox:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 5px;
    top: 1.5px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chkText {
    display: inline-block;
    color: #a0583a;
    margin-bottom: 10px;
    background-color: transparent;
}

.have-account {
    color: #a0583a;
    font-weight: 600;
}

.have-account a {
    color: #a0583a;
}

.have-account a:hover {
    color: #7f462e;
}

.myLabel {
    font-weight: 500;
    margin-left: 5%;
}

.myInputFile {
    height: 40px;
    display: block;
    border: 2px solid #a0583a;
    border-radius: 10px;
    padding: 6px 10px;
}

.text404 h1{
    font-size: 5em;
}

.text404 p {
    font-size: 1.5em;
    font-weight: 500;
}

.myInputFile::-webkit-file-upload-button {
    background-color: #a0583a;
    color: #eceeca;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.myInputFile::-webkit-file-upload-button:hover {
    background-color: #7f462e;
}

@media (max-width: 767px) {
    .footer-img {
        bottom: 730px;
    }
}

@media (max-width: 511px) {
    .footer-img {
        bottom: 720px;
    }

    #footer {
        font-size: 1em;
    }

    .myTitle {
        font-size: 3em !important;
    }
}
