@font-face {
    font-family: 'breadley_serifregular';
    src: url('../fonts/breadley-serif/breadleyserifregular-goyvg-webfont.woff2') format('woff2'),
         url('../fonts/breadley-serif/breadleyserifregular-goyvg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eceeca;
    min-height: 1vh;
    padding-top: 70px;
}

#footer {
    background-color: #aa8561;
    margin-top: 150px;
    padding: 20px 0;
    color: #eceeca;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
}

.myIcon {
    font-size: 2.3em;
    color: #eceeca;
    margin: 0 10px;
}

.myIcon:hover {
    color: #d0d2ad;
}

.footer-img {
    width: 100%;
    position: absolute;
    bottom: 220px;
    z-index: -2;
}

.myTitle {
    font-family: 'breadley_serifregular', 'Times New Roman', Times, serif;
    font-size: 3.5em !important;
    letter-spacing: 3px;
    line-height: 60px;
    color: #A0583A;
    text-align: center;
}

@media(max-width: 767px) {
    .footer-img {
        bottom: 250px;
    }
}

@media(max-width: 426px) {
    .footer-img {
        bottom: 230px;
    }

    #footer {
        font-size: 1em;
    }
}