@font-face {
    font-family: 'breadley_serifregular';
    src: url('../fonts/breadley-serif/breadleyserifregular-goyvg-webfont.woff2') format('woff2'),
         url('../fonts/breadley-serif/breadleyserifregular-goyvg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eceeca;
    min-height: 1vh;
    padding-top: 70px;
    color: #A0583A;
}

#footer {
    background-color: #aa8561;
    margin-top: 150px;
    padding: 20px 0;
    color: #eceeca;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
}

.myIcon {
    font-size: 2.3em;
    color: #eceeca;
    margin: 0 10px;
}

.myIcon:hover {
    color: #d0d2ad;
}

.footer-img {
    width: 100%;
    position: absolute;
    bottom: 450px;
    z-index: -2;
}

.myTitle {
    font-family: 'breadley_serifregular', 'Times New Roman', Times, serif;
    font-size: 3.5em !important;
    letter-spacing: 3px;
    line-height: 60px;
    color: #A0583A;
    text-align: center;
}

.wa-num {
    color: #eceeca;
}

.wa-num:hover {
    color: #d0d2ad;
}

.width-100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.myTextbox {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #A0583A;
    color: #A0583A;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 600;
}

.myTextbox::placeholder {
    color: #a68070;
    font-weight: normal;
}

.myTextbox:focus{
    border: inherit;
}

.myBtn {
    display: block;
    background-color: #A0583A;
    color: #eceeca;
    border-radius: 15px;
    border: none;
    height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.myBtn:hover {
    background-color: #7F462E;
    color:#ECEECA;
}

.myChkbox {
    display: inline-block;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}

.chkText {
    display: inline-block;
    color: #A0583A;
    margin-bottom: 10px;
}

.have-account {
    color: #A0583A;
    font-weight: 600;
}

.have-account a {
    color: #A0583A;
}

.have-account a:hover {
    color: #7F462E;
}

.myLabel {
    font-weight: 500;
    margin-left: 5%;
}

.myInputFile {
    height: 40px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid #A0583A;
    border-radius: 10px;
    padding: 6px 10px;
}

.myInputFile::-webkit-file-upload-button {
    background-color: #A0583A;
    color: #eceeca;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.myInputFile::-webkit-file-upload-button:hover {
    background-color: #7F462E;
}

@media(max-width: 767px) {
    .footer-img {
        bottom: 690px;
    }
}

@media(max-width: 426px) {
    .footer-img {
        bottom: 685px;
    }

    #footer {
        font-size: 1em;
    }

    .myTitle {
        font-size: 3em !important;
    }
}