.workshop-card {
    color: #eceeca;
    /* font-weight: 600; */
    width: 95%; 
    padding: 15px; 
    background-color: #a0583a;
    border-radius: 15px;
}

.workshop-container {
    margin-top: 50px;
}

.workshop-poster {
    order: 1;
}

.workshop-regis {
    order: 2;
}

@media (max-width: 768px) {
    .workshop-poster {
        order: 2;
    }

    .workshop-regis {
        order: 1;
    }
}